---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    image: diygod/rsshub:{{ rsshub.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    environment:
      # OPTIONAL: http basic auth
      # - HTTP_BASIC_AUTH_NAME={{ default_username }}
      # - HTTP_BASIC_AUTH_PASS={{ default_password }}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.rsshub.loadbalancer.server.scheme=http"
      - "traefik.http.services.rsshub.loadbalancer.server.port=1200"
      - "traefik.http.routers.rsshub-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.rsshub-http.entrypoints=http"
{% if not rsshub.https_only %}
      - "traefik.http.routers.rsshub-http.middlewares={% if rsshub.https_only %}redirect@file, {% else %}{% if rsshub.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.rsshub-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.rsshub.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.rsshub.entrypoints=https"
      - "traefik.http.routers.rsshub.middlewares={% if rsshub.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.rsshub.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.rsshub.tls.certresolver=dns"
      - "traefik.http.routers.rsshub.tls.domains[0].main={{ registered_domain | domain }}"
      - "traefik.http.routers.rsshub.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.rsshub.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.rsshub-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.rsshub-tor-http.entrypoints=http"
      - "traefik.http.routers.rsshub-tor-http.middlewares={% if rsshub.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
