---
version: '3.7'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik
  invoiceninja:

services:
  www:
    image: nginx
    networks:
      - traefik_network
      - invoiceninja
    environment:
      - APP_URL=https://{{service_domain}}
    volumes:
      - "{{ volumes_root }}/invoiceninja/config/nginx/nginx.conf:/etc/nginx/nginx.conf"
      - "{{ volumes_root }}/invoiceninja/public:/var/www/app/public"
      - "{{ volumes_root }}/invoiceninja/"
      - "{{ volumes_root }}/invoiceninja/storage:/var/www/app/storage"
    depends_on:
      - invoiceapp
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.invoiceninja.loadbalancer.server.scheme=http"
      - "traefik.http.services.invoiceninja.loadbalancer.server.port=80"
      - "traefik.http.routers.invoiceninja-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.invoiceninja-http.entrypoints=http"
{% if not invoiceninja.https_only %}
      - "traefik.http.routers.invoiceninja-http.middlewares={% if invoiceninja.https_only %}redirect@file, {% else %}{% if invoiceninja.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.invoiceninja-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.invoiceninja.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.invoiceninja.entrypoints=https"
      - "traefik.http.routers.invoiceninja.middlewares={% if invoiceninja.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.invoiceninja.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.invoiceninja.tls.certresolver=dns"
      - "traefik.http.routers.invoiceninja.tls.domains[0].main={{ registered_domain | domain }}"
      - "traefik.http.routers.invoiceninja.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.invoiceninja.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.invoiceninja-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.invoiceninja-tor-http.entrypoints=http"
      - "traefik.http.routers.invoiceninja-tor-http.middlewares={% if invoiceninja.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}

  indb:
    image: mysql:5
    restart: unless-stopped
    networks:
      - invoiceninja
    environment:
      - MYSQL_ROOT_PASSWORD={{lookup('password', './settings/passwords/invoiceNinja_mysql_root_pw')}}
      - MYSQL_USER=ninja
      - MYSQL_PASSWORD={{lookup('password', './settings/passwords/invoiceNinja_mysql_pw')}}
      - MYSQL_DATABASE=db-ninja-01
    volumes:
      - "{{ volumes_root }}/invoiceninja/mysql-data:/var/lib/mysql:rw"

  invoiceapp:
    # REQUIRED
    image: invoiceninja/invoiceninja:{{invoiceninja.version}}
    restart: unless-stopped
    depends_on:
      - indb
    networks:
      - invoiceninja
    environment:
      # Application environment
      - APP_URL=https://{{ service_domain }}
      - APP_KEY={{application_key.stdout}}
      - APP_DEBUG=false
      - APP_CIPHER=AES-256-CBC
      - TRUSTED_PROXIES="172.0.0.0/8"
      - REQUIRE_HTTPS=true
      - SESSION_ENCRYPT=true
      - SESSION_SECURE=true
      - GOOGLE_MAPS_API_KEY=**
      # DB environment
      - MULTI_DB_ENABLED=false
      - DB_HOST=indb
      - DB_DATABASE=db-ninja-01
      - DB_USERNAME=ninja
      - DB_PASSWORD={{lookup('password', './settings/passwords/invoiceNinja_mysql_pw')}}
      # Mail Environment
      - MAIL_HOST={{ smtp.host }}
      - MAIL_USERNAME={{ smtp.user }}
      - MAIL_PASSWORD={{ smtp.pass }}
      - MAIL_DRIVER=smtp
      - MAIL_FROM_NAME={{ smtp.from_email }}
      - MAIL_FROM_ADDRESS=user@domain.com
    volumes:
      - "{{ volumes_root }}/invoiceninja/public:/var/www/app/public"
      - "{{ volumes_root }}/invoiceninja/logo:/var/www/app/public/logo"
      - "{{ volumes_root }}/invoiceninja/storage:/var/www/app/storage"

  cron:
    image: invoiceninja/invoiceninja:{{invoiceninja.version}}
    restart: unless-stopped
    networks:
      - traefik_network
    entrypoint: |
      sh -c 'sh -s <<EOF
      trap "break;exit" SIGHUP SIGINT SIGTERM
      sleep 300s
      while /bin/true; do
        ./artisan ninja:send-invoices
        ./artisan ninja:send-reminders
        sleep 1d
      done
      EOF'
